[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/plugins/start/elm-vim"]
	path = pack/plugins/start/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
